# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php


# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# OS Generated #
################
.DS_Store?
Thumbs.db
*~*
*.swp 